@page "/recipe/{Id:int}"

@attribute [StreamRendering]
@inject IClient Client
@inject NavigationManager NavigationManager

@if (recipe == null)
{
    <PageTitle>Recept @Id</PageTitle>
    <span>loading...</span>
}
else
{
    <PageTitle>@recipe.Name</PageTitle>

    <h3>@recipe.Name</h3> <i class="fas fa-pencil-alt fa-xs" @onclick="EditRecipe"></i>

    <img class="recipe-img" src="@(recipe?.ImageUrl ?? "_content/2Eat.WebUI.Shared/defaultimg/Keto-meat-pie-h.png")" />
    
    <hr />

    <h5>Beskrivning</h5>

    <p>@recipe!.Description</p>

    <RecipeIngredients @bind-IngredientsList="recipe!.Ingredients" />

    <h5>Instruktioner</h5>

    <p>@recipe.Instructions.AsMarkup()</p>

}

@code {
    [Parameter]
    public int Id { get; set; }
    private Recipe? recipe;

    protected override async Task OnInitializedAsync()
    {
        Client.SetEntityEndpoint("recipes");
        recipe = await Client.GetByIdAsync<Recipe>(Id) ?? throw new Exception($"{nameof(recipe)} was null.");
    }

    protected void EditRecipe()
    {
        NavigationManager.NavigateTo($"/recipe/{Id}/edit");
    }
}